<section class="header">

  <ul class="social-media">

  	<li>

  		<figure>
  		
  			<a href="https://www.facebook.com/WDdesigndev" target="_blank">

  				<img src="assets/img/facebook.png" alt="facebook icon">

  			</a>

  		</figure>

  	</li>

  	<li>

  		<figure>
  		
  			<a href="https://www.instagram.com/wd.design.dev" target="_blank">

  				<img src="assets/img/instagram.png" alt="instagram icon">

  			</a>

  		</figure>

  	</li>

  	<li>

  		<figure>
  		
  			<a href="https://twitter.com/WDdesigndevelop/" target="_blank">

  				<img src="assets/img/twitter.png" alt="twitter icon">

  			</a>

  		</figure>

  	</li>

  	<li>

  		<figure>
  		
  			<a href="https://www.linkedin.com/in/whitneydu/" target="_blank">

  				<img src="assets/img/linkedin.png" alt="linkedin icon">

  			</a>

  		</figure>

  	</li>

  	<li>

  		<figure>
  		
  			<a href="https://github.com/whitneyd87" target="_blank">

  				<img src="assets/img/github.png" alt="github icon">

  			</a>

  		</figure>

  	</li>

  </ul>

  <figure class="logo">

  	<a routerLink="/">

  		<img src="assets/img/logo.png" alt="logo">

  	</a>

  </figure>

</section>	
