<section id="about">

	<figure class="aboutFigure">

		<img src="assets/img/about.png" alt="Me and Kilroy">

	</figure>

	<div class="content">	

		<h3>Visual Designer & Web Developer</h3>

		<p>I'm the proud owner of a wonderful black lab named Kilroy. If we're not playing fetch, I'm usually working on a development project or sharpening my skills in Adobe Illustrator.</p>

		<p>Currently, I'm pursuing my interest in animation and back-end languages.</p>

		<p>My design philosophy is simple: make it fun! I focus on creating UX and UI that's straightforward and engaging.</p>

	</div>


</section>
