<section id="work">

	<section class="examples">

		<div class="example">

			<a class="website" href="#" target="_blank">

				<figure class="exampleFigure">

					<img src="assets/img/orange-skies.png" alt="Orange Skies site">

				</figure>

			</a>

			<div class="example-content">

				<h4>Orange Skies</h4>

				<p>Branding & Identity, Visual Design, Front-end & Back-end Development, eCommerce, UX/UI</p>

			</div>

		</div>

		<div class="example">

			<a class="website" href="https://www.deweyinc.com/" target="_blank">

				<figure class="exampleFigure">

					<img src="assets/img/dewey.png" alt="Dewey site">

				</figure>

			</a>

			<div class="example-content">

				<h4>Dewey</h4>

				<p>Branding & Identity, Visual Design, Front-end & Back-end Development, eCommerce, UX/UI</p>

			</div>

		</div>

		<div class="example">

			<a class="website" href="https://whitneyd87.github.io/nola-honey/" target="_blank">

				<figure class="exampleFigure">

					<img src="assets/img/nolahoney.png" alt="Nola honey site">

				</figure>

			</a>

			<div class="example-content">

				<h4>NOLA honey</h4>

				<p>Branding & Identity, Visual Design, Front-end & Back-end Development, eCommerce, UX/UI</p>

			</div>

		</div>

	</section>

	<section class="skills">

		<div class="subsection">
			
			<figure class="icon">
				
				<img src="assets/img/design.png" alt="kilroy design icon">

			</figure>

			<div class="skills-content">

				<h4>Visual Design & Animation</h4>

				<p>Custom Animations, Iconography, Illustrator, InDesign, Logos, Photoshop</p>

			</div>

		</div>

		<div class="subsection">
			
			<figure class="icon">
				
				<img src="assets/img/frontend.png" alt="kilroy front end icon">

			</figure>

			<div class="skills-content">

				<h4>Front-end Development</h4>

				<p>Angular, Bootstrap, CSS3, Foundation, HTML5, Javascript, JQuery, React, Redux, Vue.js, WordPress</p>

			</div>

		</div>

		<div class="subsection">

			<figure class="icon">
				
				<img src="assets/img/backend.png" alt="kilroy back end icon">

			</figure>

			<div class="skills-content">

				<h4>Back-end Development</h4>

				<p>MongoDB, Node.js, PHP, Python, Ruby, Ruby on Rails, Laravel, Firebase</p>

			</div>
			
		</div>
		
	</section>

</section>

