<section class="main">

  	<section class="container">

		<figure class="main-vector">
			
			<a routerLink="/">

				<img src="assets/img/kmevector.png" alt="Kilroy and Me vector image">

			</a>

		</figure>

		<div class="header-container">

			<h1>Hello, I'm Whitney</h1>
			
			<p class="subheader">Welcome to WD design <br /> & development</p>

		</div>

		<nav>

			<ul>

				<li>

					<a routerLink="/about" routerLinkActive="active-link" onclick="this.focus()" class="navBtn">About</a>

				</li>

				<li>

					<a routerLink="/work" routerLinkActive="active-link" onclick="this.focus()" class="navBtn workBtn">Work</a>

				</li>

				<li>

					<a routerLink="/contact" routerLinkActive="active-link" onclick="this.focus()" class="navBtn">Say Hi</a>

				</li>

			</ul>

		</nav>

	</section>

</section>
